@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}


.navbar {
    top:0;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 5rem;
    z-index: 100;
    background-color: #5b5cb200;

}

.hamburger {
    display: none;
    
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


.nav-menu {
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 200;
    color: #ececec;
    display: inline-block;
    padding: 0.5rem 0.5rem;
}

.nav-link:hover{
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;    

}

.nav-logo {
    font-size: 2.0rem;
    font-weight: 500;
    color: #ffffff;
}

@media only screen and (max-width: 1040px) {
    .navbar{
        padding: 0.5rem 2rem;
    }
    .logo
{
    margin-left: -40px;
}
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        padding-top:10px;
        
        flex-direction: column;
        background-color: #432fc3;;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;

    }

    .nav-menu.active {
        left: 0;
        top:70px;

    }

    .nav-item {
        margin: 0.6rem 0;
        
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .incementor
    {
        height: 20vh;
    }
}
