@font-face {
	font-family: 'HarryPotter';
	src: url('../../CSS/HARRYP__.TTF');
}

.timeline_body
{
    background-color: #260051;
}
.card
{
    background-color: aqua;
}
.event_heading{
    background-color: #432fc2;
}
.headingMain{
    font-family: 'HarryPotter';
    font-size: 50px;
    padding-top: 80px;
}